@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Bengali:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b8cf7;
  --color-primary-content: #c4ff88;
  --color-secondary: #0f172a;
  --color-secondary-content: #f9f3e7;
  --color-neutral: #0e0d0c;
  --color-base-content: #6b7280;
  --color-base-100: #000000e0;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Noto Sans Bengali", sans-serif;
}
