@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #3b8cf7;
  --color-primary-content: #c4ff88;
  --color-secondary: #0f172a;
  --color-secondary-content: #f9f3e7;
  --color-neutral: #0e0d0c;
  --color-base-content: #6b7280;
  --color-base-100: #000000e0;
}

body {
  /* font-family: "Poppins", sans-serif; */
}
